* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* display: grid; */
  /* align-items: center; */
}

.page-container {
  height: 100vh;
  width: 100%;
  /* background-color: rgba(236, 177, 15, 0.397); */
  display: grid;
  grid-template:
    "header header header header" 50px
    "space1 stories right-sidebar space2" 80px
    "space1 main-posts right-sidebar space2" 1fr/
    1fr 500px 200px 1fr;
    grid-gap: 10px;
}

.header {
  grid-area: header;
  outline: 1px solid black;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  /* grid-column-gap: 10px ; */
  /* grid-gap: 100px; */
  justify-content: space-around;
}
.instagram-logo-pic {
  outline: 1px solid black;

  height: 40px;
}

.searchbar {
  height: 30px;
  outline: 1px solid black;
  /* place-items: center; */
  align-items: center;
}

.searchbar-inside {
  outline: none;

  height: 30px;
  /* background-color: aqua; */
}

.navigation-panel {
  display: flex;
  grid-gap: 15px;
  /* align-items: center; */
}

.panel-icon {
  height: 20px;
  /* place-content: center; */
  justify-items: center;
}

.stories {
  grid-gap: 10px;
  grid-area: stories;
  /* background-color: rgb(38, 235, 12); */
}

.story-posts {
  /* margin-top: 10px; */
  display: grid;
  grid-auto-flow: column;
  align-content: center;
  
}

.story-content {
  
  display: grid;
  justify-items: center;
  
}
.story-thumbnail{
  clip-path: circle(35%);
  /* display: grid */
   /* height: 50px; */
  
  /* border-radius: 50%; */
  background: radial-gradient(rgba(0, 0, 0, 0.15) 60%, transparent 0),
    radial-gradient(white 15%, transparent 0),
    linear-gradient(to top right, orange, deeppink);

}

.story-pic {
  
  height: 60px;
  
  /* border-radius: 50%; */
  clip-path: circle(35%);
  
}

.right-sidebar {
  grid-area: right-sidebar;
  background-color: rgba(0, 0, 255, 0.507);
}

.main-posts {
  grid-area: main-posts;
  /* background-color: brown; */
}

.post{
  display: grid;
  /* border: 1px solid black; */
  outline: 1px solid rgb(189, 186, 186);
  grid-gap: 10px;
}

.post-header{
  padding: 10px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  

}
.icon-username{
  /* margin-top: 10px; */
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.post-icon{

}
.profile-username{
  /* display: grid; */

}

.post-icon-pic{
  height: 40px;
  clip-path: circle(39%);
}

.thumbnail{
  display: grid;

}


.in-thumbnail{
  
   height: 100%; 
  width: 100%; 
}
.interaction{
  display: grid;
  grid-template-columns: auto auto;
}
.save-button{
  display: flex;
  justify-content: end;
}

.profile-username-cap{
  display: flex;
  
}
