* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* display: grid; */
  /* align-items: center; */
}

.page-container {
  height: 100vh;
  width: 100%;
  /* background-color: rgba(236, 177, 15, 0.397); */
  display: grid;
  grid-template:
    "header header header header" 50px
    "space1 stories right-sidebar space2" 80px
    "space1 main-posts right-sidebar space2" 1fr/
    1fr 500px 200px 1fr;
}

.header {
  grid-area: header;
  background-color: aqua;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}
.instagram-logo-pic{
  height: 40px;
}

.navigation-panel{
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.nav-profile-pic{
  height: 26px;
  
}

.stories {
  grid-area: stories;
  background-color: rgb(38, 235, 12);
}
.story-posts{
  display: grid;
  grid-auto-flow: column;
}


.story-content{
  display: grid;
  /* grid-auto-flow: column; */
  /* grid-auto-columns: 50px; */

}
.story-thumbnail{
  display: grid; 
  grid-auto-flow: column;
}

.story-username{
  display: grid;
  ;
}



.story-pic{
  height: 50px;
  border-radius: 100%;
}


.right-sidebar {
  grid-area: right-sidebar;
  background-color: rgba(0, 0, 255, 0.507);
}

.main-posts {
  grid-area: main-posts;
  background-color: brown;
}


