* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

.page-container {
  height: 100vh;
  width: 100%;
  /* background-color: rgba(172, 163, 41, 0.397); */
  display: grid;
  grid-template:
    "header header header " 50px
    ". main . " 0.8fr
    ". footer ." 20px/
    100px 1fr 100px;
}

.header {
  grid-area: header;
  display: grid;
  grid-auto-flow: column;
  /* background-color: rgba(0, 255, 255, 0.733); */
  place-items: center;
}
.instagram-logo-pic {
  height: 40px;
}

.searchbar {
  display: grid;
  grid-auto-flow: column;
  border-radius: 5px;
  background-color: #efefef;
  /* place-content: center; */
}

.navigation-panel {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px;
}
.nav-profile-pic {
  height: 30px;
}

.main {
  grid-area: main;
  display: grid;
  background-color: rgba(52, 52, 236, 0.432);
  /* align-items: center; */
  justify-content: center;
}

.profile {
  display: grid;
  grid-template:
    
    "upper-profile upper-profile" 0.8fr
    "story-archive story-archive" 0.5fr
    "feed-post feed-post"0.4fr/
    300px 300px;
  /* background-color: aqua; */
  justify-content: center;

  /* grid-gap: 40px; */
  /* align-content:center ; */
}

.upper-profile{
  grid-area: upper-profile;
  display: grid;
  grid-auto-flow: column;
  background-color: #efefef;
  align-items: center;

}

.profile-icon {
  
  /* background-color: rgba(165, 42, 42, 0.616); */
  /* width: fit-content; */
 
}

.profile-pic {
   height: 120px; 
   clip-path: circle();

}

.profile-info {
  display: grid;
  /* background-color: burlywood; */
  /* align-content: center; */
  grid-gap: 10px;
  
}

.profile-username-settings {
  display: grid;
  grid-auto-flow: column;
  /* background-color: rgb(245, 226, 220); */
}
.profile-follower-stat {
  
  display: grid;
  grid-auto-flow: column;
  /* background-color: rgb(216, 216, 25); */
  font-size: small;
}

.profile-name-bio {
  
}

.story-archive {
  grid-area: story-archive;
  display: grid;
  grid-auto-flow: column;
  /* background-color: yellow; */
  align-items: center;
}
.story-pic {
  height: 50px;
  clip-path: circle();
}

.feed-post{
  grid-area: feed-post;
  display: grid;
  /* background-color: blueviolet; */
}

.footer {
  grid-area: footer;
  background-color: rgba(131, 226, 43, 0.582);
}
