*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    /* align-content: center; */
    /* justify-content: bottom; */
    /* background-color: rgb(233, 150, 50); */
    place-content: center;
    height: 100vh;
}
.container{
    display: grid;
    /* background-color: aqua; */
    /* place-content: center; */
}

.box{
    display: grid;
    height: 50vh;
}

.username{
    background-color: aqua;
    height: 40px;
}