*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    /* align-content: center; */
    justify-content: bottom;
    background-color: bisque;
}
.container{
    background-color: aqua;
    /* place-content: center; */
}

.box{
    display: grid;
}